
.form-container {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 35vw;
    height: 100vh;
    color: #f3f3f3;
    text-align: center;
}
.survey-form {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 30x;
    margin: 10px auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {font-size: 40px;}
p {font-size: 20px; margin-bottom: 20px;}
h2 {font-size: 30px; margin-bottom: 15px;}

.datos-personales {
    padding: 20px;
}
.datos-personales input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.datos-personales label {
  margin-bottom: 10px;
  font-size: 25px;
}

select {
    width: 50%;
    height: 30px;
    display: block;
    justify-content: center;
    margin: 15px;
    color: black;
 }

 textarea {
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin: 25px;
}

#submit {
    color: black;
}

input[type=checkbox], input[type=radio]{
    margin: 0px 10px;
    display:block;
}